body {
    color: rgb(12, 4, 56);
}

.pantalla {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(12, 4, 56);
}
h1 {
    text-align: center;
    color: rgb(47, 245, 228);
}
#Playagain {
    width: 300px;
    height: 30px;
    background-color: blue;
}

#miCanvas {
    border: groove 2px red;
    background: black;
    box-shadow: 10px 10px 10px #888888;
}
p {
    color: rgb(47, 245, 228);
}

#Volver {
    width: 300px;
    height: 30px;
}
footer{
    width: 100%;
    background: linear-gradient(rgba(17, 3, 26, 0.925), rgba(161, 132, 179, 0.5));
    color: white;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h3{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
}
.colum2 h3{
    font-size: 22px;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}
.row a{
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}
.colum3{
    max-width: 400px;
}
.colum3 h3{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
}
.container-footer{
    width: 100%;
    background-color: #0b0625ea;
}
.footer{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}
.copyright a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
}
.información a{
    text-decoration: none;
    color: #c7c7c7;
}