/*Estilos Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/*Cuerpo*/

/*Encabezado*/
header{
    width: 100%;
    height: 700px;
    position: relative;
    /*degradado sobre el wallpaper*/
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 28%, 19%, 0.61), #302b63b6, #0f0c29b7), url(wallpaper.jpg);;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(240, 28%, 19%, 0.61), #302b63b6, #0f0c29b7),/*imagen para el wallpaper*/ url(wallpaper.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
    font-size: 25px;
}
nav >a{
    color: white;
    font-weight: 300px;
    text-decoration: none;
    margin-right: 15px;
}
nav >a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height:500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /*para separar los campos de texto*/
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 100px;
    color: #C0FDFF;
    padding: 0 0 0 0;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #E9FEFC;
    padding: 0 0 0 0;
}
    /*Efecto Swuipe*/
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

/*panel de juegos*/
.Panel{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 0 60px 0;
}
.contenedor> a{
    padding: 60 px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /*evitar desbordes*/
    overflow: hidden;
}

.title{
    color:#FFFFFF  ;
    text-shadow:2px 2px 5px #75E8FF;
    font-size: 75px;
    text-align: center;
    margin-bottom: 50px;
}
.galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.img-portafolio{
    width: 23%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5)
}
.img-portafolio > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.img-portafolio> a{
    text-decoration: none;
}

.hover-bloque{
    position: absolute;
    width: 100%;
    height: 100%;
   /*joysrinck*/
    top: 0;
    transform: scale(0);
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgba(234, 234, 234, 0.705), rgba(219, 219, 219, 0.808), rgba(242, 242, 242, 0.781), rgba(173, 169, 150, 0.74));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(234, 234, 234, 0.705), rgba(219, 219, 219, 0.808), rgba(242, 242, 242, 0.781), rgba(173, 169, 150, 0.74)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: transform .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-bloque img{
    width: 125px;
}

.hover-bloque p{
    color: #000000;
    font-size: 25px;
    font-weight: 900;

}
.img-portafolio:hover .hover-bloque{
    transform: scale(1);
} 

/*footer*/

footer{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 0 10px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #0f0c29;
}
.foot{
    text-align: center;
}
.foot h4{
    color: hotpink;
    border-bottom: 3px solid ;
    padding-bottom:5px;
    margin-bottom: 10px;
}

.foot p{
    color:wheat ;
}
.AutorXD{
    text-align: center;
    font-size: 25px;
    margin: 10px 0 0 0 ;
    color:#E4F3FA ;
}