*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 

body{
    
    background: radial-gradient( rgba( 8 ,  6 ,  44 ,  0.925 ) ,  rgba( 41 ,  17 ,  173 ,  0.445 ));
   
}

h1{
    text-align: center;
    color: rgb(65, 19, 5);
    font-size: 3em;
    text-transform: uppercase;
    font-family: cooper black;
    font-weight: bold;
    color: rgb(243, 238, 233);
    text-shadow:    1px 1px 1px #919191,
                    1px 2px 1px #919191,
                    1px 3px 1px #cea6a6,
                    1px 4px 1px #fdfff25e,
                    1px 5px 1px #919191,
                    1px 6px 1px #919191,
                    1px 7px 1px #919191,
                    1px 8px 1px #919191,
                    1px 9px 1px #919191,
                    2px 2px 5px #75E8FF,
                    1px 10px 6px rgba(16, 16, 16, 0.4),
                    1px 10px 10px rgba(16, 16, 16, 0.5),
                    1px 15px 25px rgba(16, 16, 16, 0.5),
                    1px 20px 40px rgba(16, 16, 16, 0.5);
    
    
}
#pantalla{
    border: groove 10px rgba(129, 41, 34, 0.945);
    background: linear-gradient(rgba(231, 87, 82, 0.925), rgba(216, 196, 16, 0.5));
    box-shadow:5px 7px 10px ;  
    border-radius: 2px;
    padding-left: 0;
    padding-right: 0;
    margin: 1% auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}
#boton{
    position:relative;
    text-align:center;
    padding:3px;
    width:180px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:100px;
    border:5px rgb(219, 99, 29);
    font-size:15px;
    letter-spacing:7px;
    border-radius:50px;
    color:rgb(219, 99, 29);
    transition:1.5s;
    box-shadow:5px 7px 10px ;
    margin: -35px -65px; 
    top:50%; 
    left:48%;
    
}
#boton:hover{ 
    box-shadow:0 5px 50px 0 rgb(202, 124, 35) inset, 0 5px 50px 0 rgb(166, 121, 224) , 0 5px 50px 0 rgb(121, 167, 78) inset, 0 5px 50px 0 #45B0A7 ;
    
    text-shadow:0 5px 50px 0 rgb(167, 116, 214) ,0 5px 50px 0 rgb(190, 117, 98) ;
}

#prin{
    background: linear-gradient(rgba(231, 87, 82, 0.925), rgba(216, 196, 16, 0.5));
    border-radius: 2px;
    display: table;
    font-weight: bold;
    padding: 10px 20px;
    margin: 3% auto;
    font-family: Exotc350 Bd BT;


}
    
#prin:hover{
    background-color: rgba(131, 185, 216, 0.664);
    font-size: 22px;
    border: groove 4px rgba(230, 125, 125, 0.897);
}
    

footer{
    width: 100%;
    background: linear-gradient(rgba(17, 3, 26, 0.925), rgba(161, 132, 179, 0.5));
    color: white;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h3{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
}
.colum2 h3{
    font-size: 22px;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}
.row a{
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}
.colum3{
    max-width: 400px;
}
.colum3 h3{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
}
.container-footer{
    width: 100%;
    background-color: #0b0625ea;
}
.footer{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}
.copyright a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
}
.información a{
    text-decoration: none;
    color: #c7c7c7;
}